@import '../../node_modules/mdb-ui-kit/css/mdb.min.css'

// single page layout

$navbarHeight: 100px

#navbar
    padding: 1rem
    height: $navbarHeight
    display: flex
    flex-direction: row
    align-items: center
    column-gap: 1rem
    &>.navbar--title
        background: #aebbd2cc
        color: white
        border-radius: 4px
        padding: 0.5rem 1.5rem
        width: fit-content
        &>h1
            margin: 0
            user-select: none
    // &>.navbar--select
    //     &>.button

            


#map-root
    height: calc(100vh - $navbarHeight)

#details-panel
    & .details-panel--thumb
        width: 200px
        height: 200px
        background: center / cover
        border-radius: 4px
    & .details-panel--desc
        margin-top: 2em

// interaction

.marker-tooltip
    font-family: var(--mdb-font-roboto)
    &>em
        font-size: 0.8rem
