@import '../../node_modules/mdb-ui-kit/css/mdb.min.css'

.marker-tooltip
    font-family: var(--mdb-font-roboto)
    &>em
        font-size: 0.8rem

#details-panel
    & .details-panel--thumb
        width: 200px
        height: 200px
        background: center / cover
        border-radius: 4px
    & .details-panel--desc
        margin-top: 2em
